body{
    margin: 0;
}
.Maincontainer{
    height: 3188px;
    width: 100%;
    overflow: hidden;
    /* background-color: red; */

}
.header{
    height: 142px;
    width: 100%;
    /* background-color: green; */
}
.header1{
    height: 60px;
    width: 100%;
    /* background-color: rgb(230, 230, 223); */
    
    box-shadow: 1px 1px 0.5px #ebe7e7;
    /* opacity: 75%; */
    
   
}
#logo{
    height: 24px;
    width: 85px;
    
    position: relative;
    left: 719px;
    top: 18px;
}
#search{
    height: 20px;
    width: 20px;
    
    position: relative;
    left: 1370px;
    top: 14px;
}
.fasion{
    display: flex;
    list-style: none;
   
    
}
#fasions{
    font-weight: bold;
}
.fasion li{
   
    padding-left: 10px;
    font-family: "Century Gothic Std", arial, sans-serif;
   font-size: 13px;
   line-height: 60px;
   letter-spacing: normal;
   position: relative;
   top: -46px;
   left: -8px;
   

}
 
.header2{
    height: 62px;
    width: 100%;
    /* background-color:orange; */
    position: relative;
    top: -16px;
    box-shadow: 1px 1px 0.5px #ebe7e7;
    
}
.options{
    display: flex;
    list-style: none;
}
.options li{
   padding-left: 10px;
   font-family: "Century Gothic Std", arial, sans-serif;
   font-size: 13px;
   line-height: 60px;
   letter-spacing: normal;
   position: relative;
   left: -8px;
}
.firstrow{
    height: 820px;
    width: 100%;
    /* background-color: blue; */
}
#womanpics{
    height: 820px;
    width: 758px;
    float: left;

}
.manpic{
    /* background-color: white; */
    height: 820px;
    width: 758px;
    float: left;
    margin-left: 2px;
    

}
#menpic{
    height: 820px;
    width: 758px;

}
.secondrow{
    height: 822px;
    width: 100%;
    /* background-color: olivedrab; */
    float: left;
}
.rosepic{
    float: left;

}
#rosepics{
    height: 820px;
    width: 758px;
    margin-top: 2px;

}
.vasepic{
    /* background-color:greenyellow; */
    height: 820px;
    width: 758px;
    float: left;
    
    margin-left: 2px;
    margin-top: 2px;
    
    


}
#vasepics{
    height: 820px;
    width: 758px;
    
}
.thirdrow{
    height: 822px;
    width: 100%;
    /* background-color: rgb(188, 203, 157); */
    float: left;

}
.childpic{
    float: left;
     
}
#girlpic{
    height: 820px;
    width: 758px;
    margin-top: 2px;
    float: left;
}
.babypic{
    background-color:black;
    height: 820px;
    width: 758px;
    float: left;
    
    margin-left: 2px;
    margin-top: 2px;
    

}
#newborn{
    height: 820px;
    width: 758px;
    
}
.blank{
height: 81px;
width:100% ;
float: left;
/* background-color: aqua; */
box-shadow: 1px 1px 0.5px #ebe7e7;

}
.exploremore{
    height: 100px;
width:100% ;
float: left;
/* background-color: blue; */
}
.exploretab{
    display: flex;
    list-style:none;
    box-shadow: 1px 1px 0.5px #ebe7e7;
}
.exploremore li{
    padding-left: 24px;
   font-family: "Century Gothic Std", arial, sans-serif;
   font-size: 13px;
   line-height: 64px;
   letter-spacing: normal;
   position: relative;
   left: 235px;
}
#explore{
    font-weight: bold;
}
.firstcontent{
    height: 30px;
    width: 100%;
    position: relative;
    top: -62px;
    left: 35px;
    font-family: "Century Gothic Std", arial, sans-serif;
}
#firstline{
    font-weight: bold;
    color: aliceblue;
}
#cruise{
    color: white;
    font-weight:100;
    opacity: 89%;

}
.secondcontent{
    height: 30px;
    width: 100%;
    position: relative;
    font-family: "Century Gothic Std", arial, sans-serif;
    left: 800px;
    top: -62px;
}
#mens{
    font-weight: bold;
    color: aliceblue;

}
#dior{
    color: white;
    font-weight:100;
    opacity: 89%; 
}
.thirdcontent{
    /* background-color: blue  ; */
    height: 70px;
    width: 35%;
    position: relative;
    font-family: "Century Gothic Std", arial, sans-serif;
    left: 8px;
    top: 751px;
}

#t3{
    position: relative;
    left: 18px;
    bottom: 813px;
    font-family: "Century Gothic Std", arial, sans-serif;
    font-weight: bold;
    opacity: 90%;

}
#t4{
    position: relative;
    left: 18px;
    bottom: 813px;
    font-family: "Century Gothic Std", arial, sans-serif;
    
    opacity: 80%;
    columns: rgb(93, 92, 92);

}
.fourthcontent{
    height: 30px;
    width: 45%;
    position: relative;
    font-family: "Century Gothic Std", arial, sans-serif;
    left: 800px;
    top: -51px;
    /* background-color: blue; */
}

#t5{
    font-weight: bold;
    color: rgb(237, 231, 231);
}
#t6{
    color: rgb(255, 255, 255);
    font-weight:100;
    opacity: 89%; 
}
.fifthcontent{
    height: 70px;
    /* background-color: green; */
    width: 35%;
    position: relative;
    font-family: "Century Gothic Std", arial, sans-serif;
    left: 8px;
    top: 741px;
}
#t7{
    position: relative;
    left:26px;
    bottom: 799px;
    font-family: "Century Gothic Std", arial, sans-serif;
    font-weight: bold;
    opacity: 90%;
    color: white;
}

#t8{
    position: relative;
    left: 26px;
    bottom: 799px;
    font-family: "Century Gothic Std", arial, sans-serif;
    font-weight: bold;
    opacity: 62%;
    color: white;
    font-weight: lighter;
}
.sixthcontent{
    height: 30px;
    width: 45%;
    position: relative;
    font-family: "Century Gothic Std", arial, sans-serif;
    left: 800px;
    top: -51px;
    /* background-color: violet; */
}
#t9{
    font-weight: bold;
    color: rgb(12, 12, 12)
}
#t10{
    color: rgb(73, 72, 72);
    font-weight:100;
    opacity: 89%; 
}
.footer{
    height: 413px;
    width: 100%;
    /* background-color: green; */
    display: flex;
    position: relative;
}
.footer1{
    height: 100px;
    width: 45;
    position: relative;
    left: 40px;
    bottom: -54px;
    font-family: "Century Gothic Std", arial, sans-serif; 
}
#news{
    font-weight: bolder;
    font-family: "Century Gothic Std", arial, sans-serif;
}
#line1{
    width: 216%;
}
.footer2{
    height: 100px;
    width: 45;
    position: relative;
    left: -73px;
    bottom: -153px;
    font-family: "Century Gothic Std", arial, sans-serif;
}
#our{
    font-weight: bold;
    font-family: "Century Gothic Std", arial, sans-serif;
}
.footer3{
    height: 100px;
    width: 45;
    position: relative;
    left: -14px;
    bottom: -54px;
    font-family: "Century Gothic Std", arial, sans-serif;
}
#client{
    font-weight: bold;
    font-family: "Century Gothic Std", arial, sans-serif;
}

.footer4{
    height: 100px;
    width: 45;
    position: relative;
    left: 301px;
    bottom: -54px;
    font-family: "Century Gothic Std", arial, sans-serif;
}
#the{
    font-weight: bold;
    font-family: "Century Gothic Std", arial, sans-serif;
}
.footer5{
    height: 100px;
    width: 45;
    position: relative;
    left: 501px;
    bottom: -54px;
    font-family: "Century Gothic Std", arial, sans-serif;
}
#line2{
    width: 200%;
}
#line3{
    width: 200%;
}
#a{
    font-weight: bold;
    font-family: "Century Gothic Std", arial, sans-serif;
}
#b{
    font-weight: bold;
    font-family: "Century Gothic Std", arial, sans-serif;
}